* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

body {
  background: url("../../assets/background.jpg") #000000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 1000px;
  margin: auto;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  color: $color-text;
  @include media-adaptive {
    width: 95%;
  }
  @include media-tablet {
    font-size: 9px;
  }
  @include media-phone {
    font-size: 8px;
  }
}