.answers {
  width: 50%;
  list-style: none;
  padding: 10px;
  &__answer {
    font-size: 1.8em;
    padding: 10px 20px;
    cursor: pointer;
    &_not-correct {
      text-decoration: line-through;
      color: $color-text-non-active;
      cursor: default;
    }
    &_correct {
      text-decoration: none;
      color: $color-primary;
    }
    & > * {
      padding-right: 10px;
    }
    &:not(:last-child) {
      border-bottom: 1px solid $color-primary;
    }
    &:hover {
      background-color: rgba($color: $color-primary, $alpha: 0.2);
    }
  }
  @extend %block;
  @include media-mobile {
    width: 100%;
  }
}