.answers {
  width: 50%;
  list-style: none;
  padding: 10px;
  &__answer {
    font-size: 1.2rem;
    padding: 10px 20px;
    cursor: pointer;
    & > * {
      padding-right: 10px;
    }
    &:not(:last-child) {
      border-bottom: 1px solid $color-primary;
    }
    &:hover {
      background-color: rgba($color: $color-primary, $alpha: 0.2);
    }
  }
  @extend %block;
}