.choosed-bird {
  width: 50%;
  padding: 10px;
  &__bird {
    display: flex;
    @include media-adaptive {
      flex-wrap: wrap;
    }
  }
  &__image {
    width: auto;
    height: 150px;
    margin-right: 10px;
    @include media-adaptive {
      margin: 10px auto;
    }
  }
  &__main {
    width: 100%;
    & > * {
      margin-bottom: 10px;
    }
    & > .rhap_container > .rhap_main > .rhap_controls-section > .rhap_volume-controls {
      display: none;
    }
  }
  &__name {
    font-size: 2em;
  }
  &__species {
    font-size: 1.7em;
  }
  &__description {
    margin-top: 10px;
    font-size: 1.7em;
  }
  @extend %block;
  @include media-tablet {
    width: 100%;
  }
}