.game-end {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  &__congratulations {
    font-size: 2rem;
    padding-bottom: 10px;
  }
  &__results {
    font-size: 1.3rem;
    padding-bottom: 10px;
  }
  @extend %block;
}