.header {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-family: 'Dancing Script', cursive;
    font-size: 1.8rem;
    & > h1 > span {
      color: $color-primary;
    }
  }
  &__score {
    font-size: 2rem;
  }
  &__menu {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.2rem;
    list-style: none;
    padding-right: 10px;
    padding-left: 10px;
    background-color: rgba($color: $color-additional, $alpha: 0.5);
    border-radius: 10px;
  }
  &__link {
    padding: 15px 10px;
    &_active {
      background-color: rgba($color: $color-primary, $alpha: 0.4);
    }
  }
}