.header {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    & > h1 {
      font-family: 'Dancing Script', cursive;
      font-size: 5em;
      & > span {
        color: $color-primary;
      }
    }
    // @include media-tablet {
    //   font-size: 1.5em;
    // }
  }
  &__score {
    font-size: 2.5em;
    // @include media-tablet {
    //   font-size: 1.5em;
    // }
  }
  &__menu {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.8em;
    list-style: none;
    padding-right: 10px;
    padding-left: 10px;
    @extend %block;
    // @include media-tablet {
    //   font-size: 1em;
    // }
  }
  &__link {
    padding: 15px 10px;
    &_active {
      background-color: rgba($color: $color-primary, $alpha: 0.4);
    }
  }
}